video {
  transform: translateX(-50%) translateY(-50%) !important ;
  top: 50% !important ;
  left: 50% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto !important;
  height: auto !important ;
  position: absolute !important;
}

.app__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 200ms ease-in;
  width: 310px;
  height: 310px;
  margin: auto;
}

.app__overlay-left,
.app__overlay-right {
  width: 52px;
  height: 340px;
  background: #7f7f7f;
}

.app__overlay-left {
  margin-left: -57px;
  margin-top: -10px;
}

.app__overlay-right {
  margin-right: -57px;
  margin-top: -340px;
  float: right;
}

.app__overlay {
  border: 0;
}

.app__scanner-img {
  z-index: 1;
  position: relative;
  display: none;
}

.custom-scanner {
  width: 270px;
  height: 2px;
  background: #4caf50;
  position: absolute;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-animation: scanner 3s infinite linear;
  -moz-animation: scanner 3s infinite linear;
  -o-animation: scanner 3s infinite linear;
  animation: scanner 3s infinite linear;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.4);
  display: block;
  left: -10px;
  right: 0;
  margin: auto;
}

@-webkit-keyframes scanner {
  0% {
    bottom: 90%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 90%;
  }
}

@-moz-keyframes scanner {
  0% {
    bottom: 90%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 90%;
  }
}

@-o-keyframes scanner {
  0% {
    bottom: 90%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 90%;
  }
}

@keyframes scanner {
  0% {
    bottom: 90%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 90%;
  }
}
